@keyframes beat {
    from{transform:scale(0)};
    to{transform:scale(3)};
}

body{
    font-family: 'Prompt';
    background:peachpuff;
    text-align: center;
    margin:2%;
}
h1{
    font-size:3.4vw;
    margin-bottom: 4%;
}
#heart{
    width:6vw;
    animation:beat .2s ease-in-out infinite alternate;
}
a{
    font-size:1.8vw;
    margin:5%;
}
.abt:hover{
    color:white;
    transition-duration: .5s;
}
.st:hover{
    color:white;
    transition-duration: .5s;
}
a:visited{
    color:navy;
}