body{
    font-family: 'Prompt';
    background:peachpuff;
    text-align: center;
    margin:2%;
}
h1{
    font-size:3.4vw;
    margin-bottom: 4%;
}
p{
    font-size:1.4vw;
    margin-left:15%;
    margin-right:15%;
    margin-bottom:3%;
}
a{
    font-size:1.6vw;
}
a:hover{
    color:white;
}